<div class="row">
    <div class="col-lg-12">
        <p></p>
        <h3>{{'links.title' | translate}}</h3>
        <hr />
    </div>    
</div>

<fieldset>
	<legend>
		{{'links.principal' | translate}}
    </legend>
    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE" target="_blank">HerculesCRUE</a>           
        </div>
    </div>
</fieldset>
<p></p>
<fieldset>
	<legend>
		{{'links.repository' | translate}}
    </legend>
    <div class="row">			

        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-management-system" target="_blank">ib-management-system</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-asio-abstractions" target="_blank">ib-asio-abstractions</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-triples-storage-adapter" target="_blank">ib-triples-storage-adapter</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/GnossDeustoBackend" target="_blank">GnossDeustoBackend</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-discovery" target="_blank">ib-discovery</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-uris-generator" target="_blank">ib-uris-generator</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-asio-docs-" target="_blank">ib-asio-docs</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-dataset-domain-model" target="_blank">ib-dataset-domain-model</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-domain-model" target="_blank">ib-domain-model</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/SGI-ASIO" target="_blank">SGI-ASIO</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-benchmarks" target="_blank">ib-benchmarks</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-hercules-ontology"target="_blank">ib-hercules-ontology</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/GnossDeustoOnto" target="_blank">GnossDeustoOnto</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-input-processor" target="_blank">ib-input-processor</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-dataset-importer" target="_blank">ib-dataset-importer</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-event-processor" target="_blank">ib-event-processor</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-dataset-etl" target="_blank">ib-dataset-etl</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-simulator-importer" target="_blank">hib-simulator-importer</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-wikibase-docker" target="_blank">ib-wikibase-docker</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-pentaho-docker" target="_blank">ib-pentaho-docker</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-asio-ldp" target="_blank">ib-asio-ldp</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-hercules-sync" target="_blank">ib-hercules-sync</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-shex-lite" target="_blank">ib-shex-lite</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-asio-composeset" target="_blank">ib-asio-composeset</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-asio" target="_blank">ib-asio</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/sgi-client" target="_blank">sgi-client</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/sgi-server" target="_blank">sgi-server</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/in-metricas-fair" target="_blank">in-metricas-fair</a>           
        </div>
    </div>

    <div class="row">			
        <div class="form-group col-lg-4 tab">   
            <a href="https://github.com/HerculesCRUE/ib-wikibase-poc-processor" target="_blank">ib-wikibase-poc-processor</a>           
        </div>
    </div>
    
</fieldset>