<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <!-- categorias tree -->
            <div class="col-lg-6">
                <label for="type" class="col-sm-4 control-label">{{  "scientist.area" | translate }}</label>
                <app-new-tree></app-new-tree>
            </div>
            <!-- type -->
            <div class="form-group col-lg-6">
                <label for="type" class="col-sm-4 control-label">{{  "scientist.type" | translate }}</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control" [(ngModel)]="findRequest.filter.type" #type="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Diseño industrial'">Diseño industrial</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <div class="container">
        <div class="row justify-content-end">
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" [(ngModel)]="findRequest.filter.name"
                    type="search" value="search" id="example-search-input">
                <span class="input-group-append">
                    <button (click)="filterProjects()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <app-table-results *ngIf="loaded" [data]="allPatentFiltered.content[0]" [pageInfo]="allPatentFiltered"
        (pageChanged)="allprojectsFilteredPageChanged($event)" (sizeChanged)="allprojectsFilteredPageChanged($event)"
        (sortChanged)="allprojectsFilteredPageChanged($event)">
    </app-table-results>
    <div style="min-width:600px;height: 450px" echarts [options]="echartOptions" class="sector-chart"></div>
</fieldset>