<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" type="search" name="startupName"
                    placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name"
                    id="example-search-input">
                <span class="input-group-append">
                    <button (click)="filterDocuments()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <app-table-results *ngIf="loaded" [data]="allStartup.content[0]" [pageInfo]="allStartup"
        (pageChanged)="allStartupFilteredPageChanged($event)" (sizeChanged)="allStartupFilteredSizeChanged($event)"
        (sortChanged)="allStartupFilteredSortChanged($event)">
    </app-table-results>
</form>