<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row mt-20">
        <!-- type -->
        <div class="form-group col-lg-6">
            <label for="type" class="col-sm-4 control-label">{{ "deliverable.level" | translate }}</label>
            <div class="col-sm-8">
                <select name="type" class="form-control" [(ngModel)]="findRequest.filter.level" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option [value]="'Regional'">Regional</option>
                    <option [value]="'Internacional'">Internacional</option>
                </select>
            </div>
        </div>
        <!-- year -->
        <div class="form-group col-lg-6">
            <label for="anyo" class="col-sm-4 control-label">{{ "deliverable.year" | translate }}</label>
            <div class="col-sm-8">
                <select name="anyo" [attr.aria-label]="'deliverable.year' | translate" class="form-control"
                    [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
</form>

<hr>
<legend>{{'deliverable.title' | translate}}</legend>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search"
                placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
            <span class="input-group-append">
                <button [attr.aria-label]="'form.search-by-name'" role="button" aria-pressed="false"
                    class="btn btn-outline-secondary border-left-0 border" type="button">
                    <em class="oi oi-magnifying-glass "></em>
                </button>
            </span>
        </div>
    </div>
</div>
<app-table-results *ngIf="loaded" [data]="allData.content[0]" [pageInfo]="allData" [headerData]="headerData"
    [dtoTypeTranslate]="'deliverable'" [extra]="'1'" (pageChanged)="allprojectsFilteredPageChanged($event)"
    (sizeChanged)="allprojectsFilteredSizeChanged($event)" (sortChanged)="allprojectsFilteredSortChanged($event)">
</app-table-results>

<hr>
<legend>{{'deliverable.scientific-production-related' | translate}}</legend>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search"
                placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
            <span class="input-group-append">
                <button [attr.aria-label]="'form.search-by-name'" role="button" aria-pressed="false"
                    class="btn btn-outline-secondary border-left-0 border" type="button">
                    <em class="oi oi-magnifying-glass "></em>
                </button>
            </span>
        </div>
    </div>
</div>
<app-table-results *ngIf="loaded" [data]="allData.content[0]" [pageInfo]="allData" [headerData]="headerData"
    [dtoTypeTranslate]="'deliverable'" [extra]="'2'" (pageChanged)="allprojectsFilteredPageChanged($event)"
    (sizeChanged)="allprojectsFilteredSizeChanged($event)" (sortChanged)="allprojectsFilteredSortChanged($event)">
</app-table-results>