<div class="row">
    <div class="col-lg-12 margin-bottom">
        <legend class="legend">{{ event.title}}</legend>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p><strong>{{event.type}}</strong></p>
        <p><strong>{{'event.id' | translate}}:</strong> {{event.id}}</p>
        <p><strong>{{'event.area' | translate}}:</strong> {{event.area}}</p>
        <p><strong>{{'event.location' | translate}}:</strong> {{event.location}}</p>
        <p><strong>{{'event.date-from' | translate}}:</strong> {{event.dateFrom}}</p>
        <p><strong>{{'event.date-to' | translate}}:</strong> {{event.deteTo}}</p>
        <p><strong>{{'event.participant' | translate}}:</strong> {{event.participant}}</p>
        <p><strong>{{'event.keyword' | translate}}:</strong> {{event.keyword}}</p>
        <p><strong>{{'event.asociated-publication' | translate}}:</strong> {{event.asociatedPublication}}</p>
        <p><strong>{{'event.description' | translate}}:</strong> {{event.description}}</p>
    </div>
</div>