<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row mt-20">
        <!-- type -->
        <div class="form-group col-lg-6">
            <label for="type" class="col-sm-4 control-label">{{ "participant.level" | translate }}</label>
            <div class="col-sm-8">
                <select name="type" class="form-control" [(ngModel)]="findRequest.filter.level" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option [value]="'Regional'">Regional</option>
                    <option [value]="'Internacional'">Internacional</option>
                </select>
            </div>
        </div>
        <!-- year -->
        <div class="form-group col-lg-6">
            <label for="anyo" class="col-sm-4 control-label">{{ "participant.year" | translate }}</label>
            <div class="col-sm-8">
                <select name="anyo" class="form-control" [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
</form>
<hr>
<legend>{{'participant.title' | translate}}</legend>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search"
                placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <em class="oi oi-magnifying-glass "></em>
                </button>
            </span>
        </div>
    </div>
</div>
<app-table-results *ngIf="loaded" [data]="allDataParticipants.content[0]" [headerData]="headerData"
    [pageInfo]="allDataParticipants" (pageChanged)="allParticipantsFilteredPageChanged($event)"
    (sizeChanged)="allParticipantsFilteredSizeChanged($event)"
    (sortChanged)="allParticipantsFilteredSortChanged($event)">
</app-table-results>
<hr>
<legend>{{'participant.people-involved' | translate}}</legend>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search"
                placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <em class="oi oi-magnifying-glass "></em>
                </button>
            </span>
        </div>
    </div>
</div>
<app-table-results *ngIf="loaded" [data]="allDataPerson.content[0]" [pageInfo]="allDataPerson"
    [headerData]="headerData2" (pageChanged)="allChanged($event)" (sizeChanged)="allChanged($event)"
    (sortChanged)="allChanged($event)">
</app-table-results>
<hr>
<legend>{{'participant.proyect-participants' | translate}}</legend>
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="input-group col-md-4">
            <input class="form-control py-2 border-right-0 border" type="search"
                placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                    <em class="oi oi-magnifying-glass "></em>
                </button>
            </span>
        </div>
    </div>
</div>
<app-table-results *ngIf="loaded" [data]="allDataParticipantsSecondTable.content[0]" [headerData]="headerData"
    [pageInfo]="allDataParticipantsSecondTable" (pageChanged)="allParticipantsFilteredPageChanged($event)"
    (sizeChanged)="allParticipantsFilteredSizeChanged($event)"
    (sortChanged)="allParticipantsFilteredSortChanged($event)">
</app-table-results>