<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>{{ "login.form.submit" | translate }}</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="form-group form-row">
          <div class="col">
            <label for="username">{{ "login.form.user" | translate }}</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !username.valid }"
              name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="invalid-feedback">
              {{ "form.validation.required" | translate }}
            </div>
          </div>
        </div>

        <div class="form-group form-row">
          <div class="col">
            <label for="password">{{
              "login.form.password" | translate
              }}</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }"
              name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="invalid-feedback">
              {{ "form.validation.required" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button role="button" aria-pressed="false" class="btn btn-primary">
          {{ "login.form.submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>