<ul class="sidebar-nav" role="list">
  <!-- Hercules logo -->
  <li class=" sidebar-brand">
    <img alt="Logo Hercules" class="logo" src="assets/images/transparent logo Hercules.png">
  </li>
  <!-- menu entries -->
  <li *ngFor="let item of menuItems" class="sidebar-brand">
    <ng-container *ngIf="!item.disabled">
      <a [routerLink]="[item.url]">
        <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
        {{ item.title | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="item.disabled">
      <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
      {{ item.title | translate }}
    </ng-container>
  </li>
  <li>
    <span (click)="translateHelperService.setTransLanguage('es')">Español</span>
    <span (click)="translateHelperService.setTransLanguage('en')">Inglés</span>
  </li>

  <!-- logout button -->
  <li class=" sidebar-brand">
    <em class="oi oi-account-logout icons-menu"></em>
    {{ "menu.logout" | translate }}
  </li>
</ul>