.icons-menu {
  font-size: 16px;
  margin-right: 10px;
}

.sidebar-nav > .sidebar-brand {
  color: #CCCECD;
  font-size: 16px;
}

.img-logo {
  max-width: 20px;
}

.link-logo {
  max-width: 30px;
  flex: 1 1 auto;
}

.lang-container {
  display: flex;
  align-items: baseline;
  justify-content: start;
}
