<ul class="sidebar-nav" role="list">
  <!-- Hercules logo -->
  <li class=" sidebar-brand">
    <img alt="Logo Hercules" class="logo" src="assets/images/transparent logo Hercules.png">
  </li>
  <!-- menu entries -->
  <li *ngFor="let item of menuItems" class="sidebar-brand">
    <ng-container *ngIf="!item.disabled">
      <a [routerLink]="[item.url]">
        <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
        {{ item.title | translate }}
      </a>
    </ng-container>
    <ng-container *ngIf="item.disabled">
      <em class="oi icons-menu" [ngClass]="[item.icon]"></em>
      {{ item.title | translate }}
    </ng-container>
  </li>
  <li class="lang-container">
    <a class="link-logo" href="JavaScript:void(0)" (click)="translateHelperService.setTransLanguage('es')">
      <img class="img-logo" src="assets/images/spanish-language.png" />
    </a>
    <a class="link-logo" href="JavaScript:void(0)" (click)="translateHelperService.setTransLanguage('en')">
      <img class="img-logo" src="assets/images/english-language.png" />
    </a>
  </li>

  <!-- logout button -->
  <li class=" sidebar-brand">
    <em class="oi oi-account-logout icons-menu"></em>
    {{ "menu.logout" | translate }}
  </li>
</ul>