<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <!-- categorias tree -->
            <div class="col-lg-6">
                <label for="type" class="col-sm-4 control-label">{{  "scientist.area" | translate }}</label>
                <!--(filterChanged)="filterArea($event)"-->
                <app-new-tree></app-new-tree>
            </div>
            <!-- type -->
            <div class="form-group col-lg-6">
                <label for="year" class="col-sm-4 control-label">{{  "projects.year" | translate }}</label>
                <div class="col-sm-8">
                    <select name="year" (change)="filterProjects()" class="form-control"
                        [(ngModel)]="findRequest.filter.year" #year="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="2020">2020</option>
                        <option [value]="2019">2019</option>
                        <option [value]="2018">2018</option>
                        <option [value]="2017">2017</option>
                        <option [value]="2017">2017</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <app-table-results *ngIf="loadedProjects" [data]="allProjectFiltered.content[0]" [pageInfo]="allProjectFiltered"
        (pageChanged)="allprojectsFilteredPageChanged($event)" (sizeChanged)="allprojectsFilteredPageChanged($event)"
        (sortChanged)="allprojectsFilteredPageChanged($event)">
    </app-table-results>
    <div style="min-width: 600px; width:100%; height:450px" echarts [loading]="loadingData" [options]="echartOptions"
        class="demo-chart"></div>
</fieldset>