<div class="row">
    <div class="col-lg-12 margin-bottom">
        <legend class="legend">{{ "investigation-actions.title" | translate }}</legend>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-40">
        <tabset role="tablist" #resultsTab [justified]="true">
            <tab role="tab" aria-selected="true">
                <ng-template tabHeading>
                    {{'investigation-actions.patents' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-patents></app-patents>
                </ng-container>
            </tab>
            <tab role="tab" aria-selected="false">
                <ng-template tabHeading>
                    {{'investigation-actions.projects' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-proyects></app-proyects>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>