<div class="row">
  <div class="col-lg-12">
    <h2>{{ "researchmentStructure.title" | translate }}</h2>
  </div>
</div>

<fieldset class="panel-default">
  <legend></legend>
  <form class="form-horizontal" (ngSubmit)="f.form.valid && find()" #f="ngForm">
    <div class="row">
      <!-- type -->
      <div class="form-group col-lg-6">
        <label for="activo" class="col-sm-3 control-label">{{ "researchmentStructure.type" | translate }}</label>
        <div class="col-sm-9">
          <select name="type" class="form-control" [(ngModel)]="findRequest.filter.type" #type="ngModel"
            (change)="filterResearchmentStructures('type')">
            <option value="undefined"> {{ "form.select" | translate }}</option>
            <option value="Universidad">Universidad</option>
            <option value="Centro">Centro</option>
            <option value="Organizacion">Organización</option>
            <option value="Fundación">Fundación</option>
            <option value="Otras estructuras">Otras estructuras</option>
          </select>
        </div>
      </div>

      <!-- financing -->
      <div class="form-group col-lg-6">
        <label for="activo" class="col-sm-3 control-label">{{ "researchmentStructure.financing" | translate }}</label>
        <div class="col-sm-9">
          <select name="financing" class="form-control" [(ngModel)]="findRequest.filter.financing" #financing="ngModel">
            <option value="undefined">{{ "form.select" | translate }}</option>
            <option value="Proyectos H2020">Proyectos H2020</option>
            <option value="Proyecto del Plan Estatal">
              Proyecto del Plan Estatal
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="offset-sm-2 col-sm-10 text-right">
        <button type="submit" class="btn btn-outline-primary">
          <em class="oi oi-magnifying-glass"></em>
          {{ "form.search" | translate }}
        </button>
      </div>
    </div>
  </form>
</fieldset>

<fieldset>
  <legend>
    {{ "form.results" | translate }}
  </legend>

  <!-- NEW -->
  <app-table-results [data]="allResearchmentStructuresFiltered.content[0]"
    [pageInfo]="allResearchmentStructuresFiltered" (pageChanged)="allResearchmentStructuresFilteredPageChanged($event)"
    (sizeChanged)="allResearchmentStructuresFilteredSizeChanged($event)"
    (sortChanged)="allResearchmentStructuresFilteredSortChanged($event)">
  </app-table-results>

  <!-- OLD -->
  <table class="table table-users table-hover">
    <thead>
      <tr>
        <th class="sortable" (click)="sort('name')"> {{ "researchmentStructure.name" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('name')"></em>
        </th>
        <th class="sortable" (click)="sort('type')"> {{ "researchmentStructure.type" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('type')"></em>
        </th>
        <th class="sortable" (click)="sort('publications')"> {{ "researchmentStructure.publications" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('publications')"></em>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr [routerLink]="['.', item.name]" *ngFor="let item of searchResult">
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.publications }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)" (sizeChanged)="changeSize($event)">
  </app-pagination>
</fieldset>

<fieldset>
  <legend class="legend margin-top">Top de Estructuras</legend>
  <div class="row">
    <!-- top -->
    <div class="form-group col-lg-6">
      <label for="top" class="col-sm-3 control-label">{{  "researchmentStructure.top" | translate }}</label>
      <div class="col-sm-9">
        <select name="top" class="form-control" [(ngModel)]="findRequest.filter.top" #top="ngModel">
          <option [value]="undefined">{{ "form.select" | translate }}</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="50">50</option>
        </select>
      </div>
    </div>

    <!-- q&a -->
    <div class="form-group col-lg-6">
      <label for="activo" class="col-sm-4 control-label">{{  "researchmentStructure.qa" | translate }}</label>
      <div class="col-sm-8">
        <select name="qa" class="form-control" [(ngModel)]="findRequest.filter.qa" #qa="ngModel"
          (change)="filterTopResearchmentStructures('qa')">
          <option [value]="undefined">{{ "form.select" | translate }}</option>
          <option [value]="'Severo Ochoa'">Severo Ochoa</option>
        </select>
      </div>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend></legend>

  <table class="table table-users table-hover">
    <thead>
      <tr>
        <th class="sortable" (click)="sort('name')"> {{ "researchmentStructure.name" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('name')"></em>
        </th>
        <th class="sortable" (click)="sort('type')"> {{ "researchmentStructure.type" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('type')"></em>
        </th>
        <th class="sortable" (click)="sort('publications')">{{ "researchmentStructure.publications" | translate }}
          <em class="float-right" [ngClass]="getSortIcon('publications')"></em>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of topSearchResult">
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.publications }}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)" (sizeChanged)="changeSize($event)">
  </app-pagination>
</fieldset>

<div echarts [options]="echartOptions" class="sector-chart"></div>