<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row mt-20">
        <!-- year -->
        <div class="form-group col-lg-6">
            <label for="anyo{{idPrefix}}" class="col-sm-4 control-label">{{ "participant.year" | translate }}</label>
            <div class="col-sm-8">
                <select name="anyo{{idPrefix}}" [attr.aria-label]="'participant.year' | translate" class="form-control"
                    [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-1">
                <button [attr.aria-label]="'form.clean' | translate " role="button" aria-pressed="false"
                    class="btn btn-secondary" (click)="f.resetForm(); filteDirectedJobs();">{{'form.clean' |
                    translate }}</button>
            </div>
            <div class="input-group col-md-4" role="search">
                <input class="form-control py-2 border-right-0 border" type="search" name="directedName{{idPrefix}}"
                    placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name"
                    id="search-directed-jobs{{idPrefix}}">
                <span class="input-group-append">
                    <button [attr.aria-label]="'form.search-by-name' | translate" role="button" aria-pressed="false"
                        (click)="filteDirectedJobs()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <app-table-results *ngIf="loaded" [data]="allDirectedJobs.content[0]" [pageInfo]="allDirectedJobs"
        [dtoTypeTranslate]="'directed'" [extra]="idPrefix" (pageChanged)="allDirectedFilteredPageChanged($event)"
        [headerData]="headerData" (sizeChanged)="allDirectedFilteredSizeChanged($event)"
        (sortChanged)="allDirectedFilteredSortChanged($event)">
    </app-table-results>
</form>