<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row mt-20">
        <!-- year -->
        <div class="form-group col-lg-6">
            <label for="anyo" class="col-sm-4 control-label">{{ "participant.year" | translate }}</label>
            <div class="col-sm-8">
                <select name="anyo" class="form-control" [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option [value]="'2020'">2020</option>
                    <option [value]="'2019'">2019</option>
                    <option [value]="'2018'">2018</option>
                    <option [value]="'2017'">2017</option>
                    <option [value]="'2016'">2016</option>
                    <option [value]="'2015'">2015</option>
                    <option [value]="'2014'">2014</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" type="search" name="directedName"
                    placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name"
                    id="example-search-input">
                <span class="input-group-append">
                    <button (click)="filteDirectedJobs()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <app-table-results *ngIf="loaded" [data]="allDirectedJobs.content[0]" [pageInfo]="allDirectedJobs"
        (pageChanged)="allDirectedFilteredPageChanged($event)" [headerData]="headerData"
        (sizeChanged)="allDirectedFilteredSizeChanged($event)" (sortChanged)="allDirectedFilteredSortChanged($event)">
    </app-table-results>
</form>