<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <!-- categorias tree -->
            <div class="col-lg-6">
                <app-new-tree [treeType]="'area'"></app-new-tree>
            </div>
            <!-- type -->
            <div class="form-group col-lg-6">
                <label for="type" class="col-sm-4 control-label">{{  "scientist.type" | translate }}</label>
                <div class="col-sm-8">
                    <select (change)="filterTop($event, 'type')" name="type" class="form-control"
                        [(ngModel)]="findRequest.filter.type" #type="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Docente'">Docente</option>
                        <option [value]="'Personal Investigador'">Personal Investigador</option>
                        <option [value]="'Investigador'">Investigador</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" type="search"
                    placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name">
                <span class="input-group-append">
                    <button (click)="filterPersonal()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <app-table-results [data]="allScientificsFiltered.content[0]" [pageInfo]="allScientificsFiltered"
        (pageChanged)="allScientistsFilteredPageChanged($event)"
        (sizeChanged)="allScientistsFilteredPageChanged($event)"
        (sortChanged)="allScientistsFilteredPageChanged($event)">
    </app-table-results>
    <div echarts [options]="echartOptions" class="sector-chart"></div>
</fieldset>