<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <!-- categorias tree -->
            <div class="col-lg-6">
                <app-new-tree></app-new-tree>
            </div>
            <!-- type -->
            <div class="form-group col-lg-6">
                <label for="type" class="col-sm-4 control-label">{{  "scientist.type" | translate }}</label>
                <div class="col-sm-8">
                    <select (change)="filterTop($event, 'type')" name="type" class="form-control"
                        [(ngModel)]="findRequest.filter.type" #type="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Docente'">Docente</option>
                        <option [value]="'Personal Investigador'">Personal Investigador</option>
                        <option [value]="'Investigador'">Investigador</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <app-table-results [data]="allScientificsFiltered.content[0]" [pageInfo]="allScientificsFiltered"
        (pageChanged)="allScientistsFilteredPageChanged($event)"
        (sizeChanged)="allScientistsFilteredPageChanged($event)"
        (sortChanged)="allScientistsFilteredPageChanged($event)">
    </app-table-results>
    <div echarts [options]="echartOptions" class="sector-chart"></div>
</fieldset>