<div class="row">
    <div class="col-lg-12">
        <h2>{{researchment?.name}}</h2>
    </div>
</div>
<div class="mt-20">
    <div class="row">
        <div class="col-12">
            <p>{{researchment?.address}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p> {{researchment?.tel}} </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-40">
        <tabset #resultsTab [justified]="true">
            <tab>
                <ng-template tabHeading>
                    {{'researchmentStructure.scientist' | translate}}
                </ng-template>
                <ng-container>
                    <app-scientist-search></app-scientist-search>
                </ng-container>
            </tab>
            <!-- <tab>
                <ng-template tabHeading>
                    {{'researchmentStructure.top' | translate}}
                </ng-template>
                <ng-container>
                    <app-top-search></app-top-search>
                </ng-container>
            </tab> -->
            <tab>
                <ng-template tabHeading>
                    {{'researchmentStructure.prod-scientist' | translate}}
                </ng-template>
                <ng-container>
                    <app-scientific-production></app-scientific-production>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'researchmentStructure.projects' | translate}}
                </ng-template>
                <ng-container>
                    <app-proyects></app-proyects>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'researchmentStructure.patents' | translate}}
                </ng-template>
                <ng-container>
                    <app-patents></app-patents>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>