<h1 class="legend margin-top">{{researchment?.name}}</h1>
<div class="mt-20">
    <div class="row">
        <div class="col-12">
            <p>{{researchment?.address}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p> {{researchment?.tel}} </p>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'scientist' }" id="scientist-tab"
            (click)="changeTab('scientist')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
            aria-controls="scientist"
            [attr.aria-selected]="activeTab === 'scientist'">{{'researchmentStructure.scientist' | translate}}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'prod-scientist' }" id="prod-scientist-tab"
            (click)="changeTab('prod-scientist')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
            aria-controls="prod-scientist"
            [attr.aria-selected]="activeTab === 'prod-scientist'">{{'researchmentStructure.prod-scientist' |
            translate}}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'projects' }" id="projects-atb"
            (click)="changeTab('projects')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
            aria-controls="projects" [attr.aria-selected]="activeTab === 'projects'">{{'researchmentStructure.projects'
            |
            translate}}</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" [ngClass]="{'active': activeTab === 'patents' }" id="patents-tab"
            (click)="changeTab('patents')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
            aria-controls="patents" [attr.aria-selected]="activeTab === 'patents'">{{'researchmentStructure.patents' |
            translate}}</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" [ngClass]="{'show': activeTab === 'scientist', 'active': activeTab === 'scientist' }"
        id="scientist" role="tabpanel" aria-labelledby="scientist-tab">
        <app-scientist-search [idPrefix]="'scientist'"></app-scientist-search>
    </div>
    <div class="tab-pane fade"
        [ngClass]="{'show': activeTab === 'prod-scientist', 'active': activeTab === 'prod-scientist' }"
        id="prod-scientist" role="tabpanel" aria-labelledby="prod-scientist-tab">
        <app-documents [idPrefix]="'prodScientist'" [isTreeVisible]="false" [filterDocumentType]="['Book', 'Article']">
        </app-documents>
    </div>
    <div class="tab-pane fade" id="projects"
        [ngClass]="{'show': activeTab === 'projects', 'active': activeTab === 'projects' }" role="tabpanel"
        aria-labelledby="projects-tab">
        <app-proyects [idPrefix]="'projects'" [chartType]="'bar'"></app-proyects>
    </div>
    <div class="tab-pane fade" id="patents"
        [ngClass]="{'show': activeTab === 'patents', 'active': activeTab === 'patents' }" role="tabpanel"
        aria-labelledby="patents-tab">
        <app-patents [idPrefix]="'patents'"></app-patents>
    </div>
</div>