<div class="row">
    <div class="col-lg-12 margin-bottom">
        <legend class="legend" *ngIf="loaded">{{proyect[0]?.name?.value}}</legend>
    </div>
</div>


<div class="row">
    <div class="col-12 mt-40">
        <tabset #resultsTab [justified]="true">
            <tab>
                <ng-template tabHeading>
                    {{'projects.general-info' | translate}}
                </ng-template>
                <ng-container>
                    <div class="row">
                        <div class="col-12 mt-40">
                            <p><strong>{{ 'projects.project-name' | translate}}:</strong><span *ngIf="loaded">
                                    {{proyect[0]?.name?.value}} </span> </p>
                            <p><strong>{{ 'projects.key-words' | translate}}:</strong>- web, universidades </p>
                            <p><strong>{{ 'projects.project-type' | translate}}:</strong><span *ngIf="loaded">
                                    {{proyect[0]?.tipo?.value}} </span> </p>
                            <p><strong>{{ 'projects.financing-type' | translate}}:</strong> <span *ngIf="loaded">
                                    {{proyect[0]?.fund?.value}} </span></p>
                            <p><strong>{{ 'projects.call-type' | translate}}:</strong>- Público </p>
                            <p><strong>{{ 'projects.people-involved' | translate}}:</strong>- 23 </p>
                            <p><strong>{{ 'projects.main-researcher' | translate}}:</strong>- Maria Hernandez Reyes Mora
                            </p>
                        </div>
                    </div>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'projects.participants' | translate}}
                </ng-template>
                <ng-container>
                    <app-participants></app-participants>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'projects.deliverables' | translate}}
                </ng-template>
                <ng-container>
                    <app-deliverable></app-deliverable>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>