<div class="row">
    <div class="col-12 mt-40">
        <tabset #resultsTab [justified]="true">
            <tab>
                <ng-template tabHeading>
                    {{'projects.general-info' | translate}}
                </ng-template>
                <ng-container>
                    <div class="row">
                        <div class="col-12 mt-40">
                            <p><b>{{ 'projects.project-name' | translate}}:</b><span
                                    *ngIf="proyect && proyect.length >=0 "> {{proyect[0]?.name?.value}} </span> </p>
                            <p><b>{{ 'projects.key-words' | translate}}:</b>- web, universidades </p>
                            <p><b>{{ 'projects.project-type' | translate}}:</b><span
                                    *ngIf="proyect && proyect.length >=0 "> {{proyect[0]?.tipo?.value}} </span> </p>
                            <p><b>{{ 'projects.financing-type' | translate}}:</b> <span
                                    *ngIf="proyect && proyect.length >=0 "> {{proyect[0]?.fund?.value}} </span></p>
                            <p><b>{{ 'projects.call-type' | translate}}:</b>- Público </p>
                            <p><b>{{ 'projects.people-involved' | translate}}:</b>- 23 </p>
                            <p><b>{{ 'projects.main-researcher' | translate}}:</b>- Maria Hernandez Reyes Mora </p>
                        </div>
                    </div>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'projects.participants' | translate}}
                </ng-template>
                <ng-container>
                    <app-participants></app-participants>
                </ng-container>
            </tab>
            <tab>
                <ng-template tabHeading>
                    {{'projects.deliverables' | translate}}
                </ng-template>
                <ng-container>
                    <app-deliverable></app-deliverable>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>