<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <div class="form-group col-lg-4">
                <label for="dateFrom" class="control-label">{{'scientific-production.date-from' | translate }}</label>
                <input class="form-control" name="dateFrom" id="dateFrom" required
                    (ngModelChange)="filterResearchmentStructures($event, 'releaseYear')"
                    placeholder="{{'form.datepicker-placeholder' | translate}}" ngbDatepicker
                    #decisionDate="ngbDatepicker" (click)="decisionDate.toggle();" (keyup)="decisionDate.close()"
                    #dateFrom="ngModel" [(ngModel)]="findRequest.filter.releaseYear" />
                <div *ngIf="f.submitted && !dateFrom.valid" class="help-block">
                    {{'form.validation.required' | translate}}</div>
            </div>
            <div class="form-group col-lg-4">
                <label for="dateTo" class="control-label">{{'scientific-production.date-to' | translate }}</label>
                <input class="form-control" name="dateTo" id="dateTo" required
                    (change)="filterResearchmentStructures($event, 'releaseYear')"
                    placeholder="{{'form.datepicker-placeholder' | translate}}" ngbDatepicker
                    #dateToDate="ngbDatepicker" (click)="dateToDate.toggle();" (keyup)="dateToDate.close()"
                    #dateTo="ngModel" [(ngModel)]="findRequest.filter.dateTo" />
                <div *ngIf="f.submitted && !dateTo.valid" class="help-block">
                    {{'form.validation.required' | translate}}</div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <div class="container">
        <div class="row justify-content-end">
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" type="search" value="search"
                    id="example-search-input">
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="mt-40">
        <app-table-results [data]="allScientificProductionFiltered.content[0]"
            [pageInfo]="allScientificProductionFiltered"
            (pageChanged)="allScientificProductionFilteredPageChanged($event)"
            (sizeChanged)="allScientificProductionFilteredPageChanged($event)"
            (sortChanged)="allScientificProductionFilteredPageChanged($event)">
        </app-table-results>
    </div>
</fieldset>