<div class="row">
    <div class="col-lg-12 margin-bottom">
        <h1 class="legend">{{ "scientific-production.title" | translate }}</h1>
    </div>
</div>
<div class="row mt-20">
    <div class="col-lg-12">
        <button role="button" aria-pressed="false" class="btn btn-default"
            (click)="normalTree = !normalTree">{{'form.change-tree' |
            translate}}</button>
    </div>
    <!-- categorias tree -->
    <div class="col-lg-12" *ngIf="normalTree">
        <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
        <app-new-tree [treeType]="'documents'"></app-new-tree>
    </div>
    <!-- categorias tree -->
    <div class="col-lg-12" *ngIf="!normalTree">
        <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
        <app-tree [treeType]="'documents'"></app-tree>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-40">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" [ngClass]="{'active': activeTab === 'scientific-publications' }"
                    id="scientific-publications-tab" (click)="changeTab('scientific-publications')" data-bs-toggle="tab"
                    href="JavaScript:void(0)" role="tab" aria-controls="scientific-publications"
                    [attr.aria-selected]="activeTab === 'scientific-publications'">{{'scientific-production.scientific-publications'
                    | translate}}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" [ngClass]="{'active': activeTab === 'academic-publications' }"
                    id="academic-publications-tab" (click)="changeTab('academic-publications')" data-bs-toggle="tab"
                    href="JavaScript:void(0)" role="tab" aria-controls="academic-publications"
                    [attr.aria-selected]="activeTab === 'academic-publications'">{{'scientific-production.academic-publications'
                    | translate}}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" [ngClass]="{'active': activeTab === 'other-publications' }"
                    id="other-publications-atb" (click)="changeTab('other-publications')" data-bs-toggle="tab"
                    href="JavaScript:void(0)" role="tab" aria-controls="other-publications"
                    [attr.aria-selected]="activeTab === 'other-publications'">{{'scientific-production.other-publications'
                    | translate}}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" [ngClass]="{'active': activeTab === 'events' }" id="events-tab"
                    (click)="changeTab('events')" data-bs-toggle="tab" href="JavaScript:void(0)" role="tab"
                    aria-controls="events"
                    [attr.aria-selected]="activeTab === 'events'">{{'scientific-production.events' | translate}}</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade"
                [ngClass]="{'show': activeTab === 'scientific-publications', 'active': activeTab === 'scientific-publications' }"
                id="scientific-publications" role="tabpanel" aria-labelledby="scientific-publications-tab">
                <app-documents [idPrefix]="'publications'" [isTreeVisible]="false"
                    [filterDocumentType]="['Book', 'Article']"></app-documents>
            </div>
            <div class="tab-pane fade"
                [ngClass]="{'show': activeTab === 'academic-publications', 'active': activeTab === 'academic-publications' }"
                id="academic-publications" role="tabpanel" aria-labelledby="academic-publications-tab">
                <app-documents [idPrefix]="'academic'"
                    [selectDocumentType]="['Tesis de grado', 'Tesis de Master', 'Tesis de doctorado']"
                    [isTreeVisible]="false" [filterDocumentType]="['MasterThesis', 'PhDThesis', 'DoctoralThesis']">
                </app-documents>
            </div>
            <div class="tab-pane fade" id="other-publications"
                [ngClass]="{'show': activeTab === 'other-publications', 'active': activeTab === 'other-publications' }"
                role="tabpanel" aria-labelledby="other-publications-tab">
                <app-documents [idPrefix]="'other'"
                    [selectDocumentType]="['Informes', 'Cartel de conferencia', 'Catalogo', 'Extracto', 'Documento audiovisual']"
                    [isTreeVisible]="false" [filterDocumentType]="['Book', 'Article']"></app-documents>
            </div>
            <div class="tab-pane fade" id="events"
                [ngClass]="{'show': activeTab === 'events', 'active': activeTab === 'events' }" role="tabpanel"
                aria-labelledby="events-tab">
                <app-events [idPrefix]="'events'"></app-events>
            </div>
        </div>
    </div>
</div>