<div class="row">
    <div class="col-lg-12 margin-bottom">
        <legend class="legend">{{ "scientific-production.title" | translate }}</legend>
    </div>
</div>
<div class="row mt-20">
    <div class="col-lg-12">
        <button class="btn btn-default" (click)="normalTree = !normalTree">{{'form.change-tree' |
            translate}}</button>
    </div>
    <!-- categorias tree -->
    <div class="col-lg-12" *ngIf="normalTree">
        <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
        <app-new-tree [treeType]="'documents'"></app-new-tree>
    </div>
    <!-- categorias tree -->
    <div class="col-lg-12" *ngIf="!normalTree">
        <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
        <app-tree [treeType]="'documents'"></app-tree>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-40">
        <tabset role="tablist" #resultsTab [justified]="true">
            <tab role="tab" aria-selected="true">
                <ng-template tabHeading>
                    {{'scientific-production.scientific-publications' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-documents [isTreeVisible]="false" [filterDocumentType]="['Book', 'Article']"></app-documents>
                </ng-container>
            </tab>
            <tab role="tab" aria-selected="false">
                <ng-template tabHeading>
                    {{'scientific-production.academic-publications' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-documents [selectDocumentType]="['Tesis de grado', 'Tesis de Master', 'Tesis de doctorado']"
                        [isTreeVisible]="false" [filterDocumentType]="['MasterThesis', 'PhDThesis', 'DoctoralThesis']">
                    </app-documents>
                </ng-container>
            </tab>
            <tab role="tab" aria-selected="false">
                <ng-template tabHeading>
                    {{'scientific-production.other-publications' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-documents
                        [selectDocumentType]="['Informes', 'Cartel de conferencia', 'Catalogo', 'Extracto', 'Documento audiovisual']"
                        [isTreeVisible]="false" [filterDocumentType]="['Book', 'Article']"></app-documents>
                </ng-container>
            </tab>
            <tab role="tab" aria-selected="false">
                <ng-template tabHeading>
                    {{'scientific-production.events' | translate}}
                </ng-template>
                <ng-container role="tabpanel">
                    <app-events></app-events>
                </ng-container>
            </tab>
        </tabset>
    </div>
</div>