<div class="row">
    <div class="col-12" *ngFor="let area of data.children">
        <span
            [ngStyle]="{'text-decoration': area.selected ? 'underline' : 'none', 'font-weight': area.selected ? 'bold' : 'normal'  }"
            (click)="area.selected = !area.selected; areaClicked(area, null);">
            {{area.name}}</span>
        <ol *ngIf="area.selected && area.children">
            <li *ngFor="let area2 of area?.children">
                <span
                    [ngStyle]="{'text-decoration': area2.selected ? 'underline' : 'none', 'font-weight': area2.selected ? 'bold' : 'normal' }"
                    (click)="area2.selected = !area2.selected; areaClicked(area2, area);">
                    {{area2.name}}</span>
                <ol *ngIf="area2.selected && area2.children">
                    <li *ngFor="let area3 of area2?.children">
                        <span
                            [ngStyle]="{'text-decoration': area3.selected ? 'underline' : 'none', 'font-weight': area3.selected ? 'bold' : 'normal'}"
                            (click)="area3.selected = !area3.selected; areaClicked(area3, area2);">
                            {{area3.name}}</span>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>