table.table tr .actions a {
  visibility: hidden;
  margin: 0 1px;
}

table.table tbody tr:hover a.btn,
table.table tbody tr:hover button.btn {
  visibility: visible;
}

table thead sortable:hover {
  cursor: pointer;
  background-color: #eee;
}

.table-users .actions {
  width: 10em;
}

.sidebar-toggle {
  position: fixed;
  background: #313941;
  padding: 10px;
  border-bottom-right-radius: 5px;
  z-index: 1;
  cursor: pointer;
  color: white;
}

.actions {
  margin-top: 20px;
}

.btn-outline-primary {
  color: white;
  background-color: black;
  border-color: white;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: white;
  background-color: #999;
  border-color: black;
}
.page-item.active .page-link {
  color: #fff;
  background-color: black;
  border-color: black;
}

.legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
  line-height: inherit;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.sector-chart {
  width: 50%;
  margin-left: 21%;
  margin-top: 3%;
}

/** helpers */
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}

.nav-item a {
  color: #999;
}
.logos {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-top: 10px;
  max-height: 50px;
}

.logo2 {
  max-height: 70px;
  margin-top: 10px;
}

.logoText {
  width: 100%;
  text-align: center;
  font-size: small;
}

.logoText p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.table td,
.table th {
  padding: 0.5rem;
  /* font-size: smaller; */
}
