<fieldset>
    <legend class="legend margin-top">{{scientist?.name}}</legend>
    <div class="mt-20">
        <div class="row">
            <div class="col-12">
                <p>{{scientist?.university}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p> {{scientist?.email}} </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-40">
            <tabset #resultsTab [justified]="true">
                <tab>
                    <ng-template tabHeading>
                        {{'scientist.acction-inves' | translate}}
                    </ng-template>
                    <ng-container>

                        <legend class="mt-10">{{'scientist.prod-scientist' | translate}}</legend>
                        <hr>
                        <legend>{{'scientist.directed-jobs' | translate}}</legend>
                        <hr>
                        <app-directed-jobs></app-directed-jobs>
                        <legend>{{'scientist.reg-documents' | translate}}</legend>
                        <hr>
                        <app-documents [filterDocumentType]="['Libro', 'Articulo']"></app-documents>
                    </ng-container>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        {{'scientist.congress' | translate}}
                    </ng-template>
                    <ng-container>
                        <legend class="mt-10">{{'scientist.reg-documents' | translate}}</legend>
                        <hr>
                        <app-documents [filterDocumentType]="['Libro', 'Articulo']"></app-documents>
                    </ng-container>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        {{'scientist.business-activity' | translate}}
                    </ng-template>
                    <ng-container>

                    </ng-container>
                </tab>
                <tab>
                    <ng-template tabHeading>
                        {{'scientist.trajectory' | translate}}
                    </ng-template>
                    <ng-container>

                    </ng-container>
                </tab>
            </tabset>
        </div>
    </div>
</fieldset>