<form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
    <div class="row mt-20">
        <div class="col-lg-12" *ngIf="isTreeVisible">
            <button class="btn btn-default" (click)="normalTree = !normalTree">{{'form.change-tree' |
                translate}}</button>
        </div>
        <!-- categorias tree -->
        <div class="col-lg-6" *ngIf="normalTree && isTreeVisible">
            <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
            <app-new-tree [treeType]="'documents'"></app-new-tree>
        </div>
        <!-- categorias tree -->
        <div class="col-lg-12" *ngIf="!normalTree && isTreeVisible">
            <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate }}</label>
            <app-tree [treeType]="'documents'"></app-tree>
        </div>
        <!-- dates -->
        <div class="form-group col-lg-3" [ngClass]="{'col-lg-3': !isTreeVisible}">
            <label for="dateFrom" class="control-label">{{'documents.date-ini' | translate }}</label>
            <input class="form-control" name="dateFrom" id="dateFrom" required (ngModelChange)="filterProjects()"
                placeholder="{{'form.datepicker-placeholder' | translate}}" ngbDatepicker [readonly]="true"
                #decisionDate="ngbDatepicker" (click)="decisionDate.toggle();" (keyup)="decisionDate.close()"
                #dateFrom="ngModel" [(ngModel)]="dateIni" />
        </div>
        <div class="form-group col-lg-3" [ngClass]="{'col-lg-3': !isTreeVisible}">
            <label for="dateTo" class="control-label">{{'documents.date-fin' | translate }}</label>
            <input class="form-control" name="dateTo" id="dateTo" required (ngModelChange)="filterProjects()"
                placeholder="{{'form.datepicker-placeholder' | translate}}" ngbDatepicker [readonly]="true"
                #decisionTo="ngbDatepicker" (click)="decisionTo.toggle();" (keyup)="decisionTo.close()"
                #dateTo="ngModel" [(ngModel)]="dateFin" />
        </div>
    </div>
    <div class="row">
        <!-- type -->
        <div class="form-group col-lg-6">
            <label for="type" class="col-sm-4 control-label">{{ "documents.type" | translate }}</label>
            <div class="col-sm-8">
                <select (change)="filterProjects()" name="type" class="form-control"
                    [(ngModel)]="findRequest.filter.type" #type="ngModel">
                    <option [value]="undefined">{{ "form.select" | translate }}</option>
                    <option *ngFor="let item of selectDocumentType" [value]="item">{{item}}</option>

                </select>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <div class="input-group col-md-1">
                <button class="btn btn-secondary"
                    (click)="f.resetForm(); filterDocuments(); dateFin = null; dateIni = null">{{'form.clean' |
                    translate }}</button>
            </div>
            <div class="input-group col-md-4">
                <input class="form-control py-2 border-right-0 border" type="search" name="search" #search="ngModel"
                    placeholder="{{'form.search-by-name' | translate }}" [(ngModel)]="findRequest.filter.name"
                    id="example-search-input">
                <span class="input-group-append">
                    <button (click)="filterDocuments()" class="btn btn-outline-secondary border-left-0 border"
                        type="button">
                        <em class="oi oi-magnifying-glass "></em>
                    </button>
                </span>
            </div>
        </div>
    </div>
</form>
<app-table-results *ngIf="loaded" [data]="allDocumentFiltered.content[0]" [headerData]="headerData"
    [pageInfo]="allDocumentFiltered" (pageChanged)="allprojectsFilteredPageChanged($event)"
    (sizeChanged)="allprojectsFilteredSizeChanged($event)" (sortChanged)="allprojectsFilteredSortChanged($event)">
</app-table-results>