<div class="home">
  <div class="row">
    <div class="col-lg-12">
      <ng-container *ngFor="let groupItem of groupItems">
        <h1>{{ groupItem.title | translate }}</h1>
        <hr />
        <div class="row">
          <div class="col-lg-2" *ngFor="let item of groupItem.homeItems">
            <div [routerLink]="[item.url]" class="cursor home-enabled" *ngIf="!item.disabled">
              <em class="oi" [ngClass]="item.iconName"></em>
              <p></p>
              <a>
                <p style="text-align: center">
                  <strong>{{ item.title| translate }}</strong>
                </p>
              </a>
            </div>
            <div class="home-disabled" *ngIf="item.disabled">
              <em class="oi" [ngClass]="item.iconName"></em>
              <p></p>
              <p style="text-align: center">
                <strong>{{ item.title| translate }}</strong>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>