<div class="row">
    <div class="col-lg-12 margin-bottom">
        <legend class="legend">{{ "research-categories.title" | translate }}</legend>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-40">

        <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
            <div class="row mt-20">
                <div class="col-lg-12">
                    <button class="btn btn-default" (click)="normalTree = !normalTree">{{'form.change-tree'
                        |
                        translate}}</button>
                </div>
                <!-- categorias tree -->
                <div class="col-lg-6" *ngIf="normalTree">
                    <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate
                        }}</label>
                    <app-new-tree [treeType]="'documents'"></app-new-tree>
                </div>
                <!-- categorias tree -->
                <div class="col-lg-12" *ngIf="!normalTree">
                    <label for="type" class="col-sm-4 control-label">{{ "scientist.area" | translate
                        }}</label>
                    <app-tree [treeType]="'documents'"></app-tree>
                </div>
            </div>
        </form>
        <legend class="mt-40">{{'research-categories.areas-more-projects' | translate}}</legend>
        <hr>
        <!-- year -->
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="anyo" class="col-sm-4 control-label">{{ "participant.year" | translate
                    }}</label>
                <div class="col-sm-8">
                    <select name="anyo" class="form-control" [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div echarts [options]="echartOptions" class="sector-chart"></div>
        <legend class="mt-40">{{'research-categories.appointments-area' | translate}}</legend>
        <hr>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="anyo" class="col-sm-4 control-label">{{ "participant.year" | translate
                    }}</label>
                <div class="col-sm-8">
                    <select name="anyo" class="form-control" [(ngModel)]="findRequest.filter.anyo" #type="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option *ngFor="let year of yearsForSelect" [value]="year">{{year}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div style="min-width: 600px; width:100%; height:450px" echarts [options]="echartOptions2" class="demo-chart">
        </div>

    </div>
</div>