<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid" #f="ngForm">
        <div class="row mt-20">
            <!-- top -->
            <div class="form-group col-lg-6">
                <label for="top" class="col-sm-3 control-label">{{ "researchmentStructure.top" | translate }}</label>
                <div class="col-sm-9">
                    <select name="top" (change)="filterTop($event, 'publications')" class="form-control"
                        [(ngModel)]="findRequest.filter.top" #top="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                    </select>
                </div>
            </div>

            <!-- q&a -->
            <div class="form-group col-lg-6">
                <label for="activo" class="col-sm-4 control-label">{{  "researchmentStructure.qa" | translate }}</label>
                <div class="col-sm-8">
                    <select name="qa" (change)="filterTop($event, 'qa')" class="form-control"
                        [(ngModel)]="findRequest.filter.qa" #qa="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Severo Ochoa'">Severo Ochoa</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <app-table-results [data]="allTopFiltered.content[0]" [pageInfo]="allTopFiltered"
        (pageChanged)="allTopsFilteredPageChanged($event)" (sizeChanged)="allTopsFilteredPageChanged($event)"
        (sortChanged)="allTopsFilteredPageChanged($event)">
    </app-table-results>
</fieldset>