<fieldset>
    <form class="form-horizontal " (ngSubmit)="f.form.valid && find()" #f="ngForm">
        <div class="row mt-20">
            <!-- top -->
            <div class="form-group col-lg-6">
                <label for="top" class="col-sm-3 control-label">{{ "researchmentStructure.top" | translate }}</label>
                <div class="col-sm-9">
                    <select name="top" class="form-control" [(ngModel)]="findRequest.filter.top" #top="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="10">10</option>
                        <option [value]="20">20</option>
                        <option [value]="50">50</option>
                    </select>
                </div>
            </div>

            <!-- q&a -->
            <div class="form-group col-lg-6">
                <label for="activo" class="col-sm-4 control-label">{{  "researchmentStructure.qa" | translate }}</label>
                <div class="col-sm-8">
                    <select (change)="filterTopResearchmentStructures('qa')" name="qa" class="form-control"
                        [(ngModel)]="findRequest.filter.qa" #qa="ngModel">
                        <option [value]="undefined">{{ "form.select" | translate }}</option>
                        <option [value]="'Severo Ochoa'">Severo Ochoa</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</fieldset>
<fieldset>
    <div class="mt-40">
        <table class="table table-users table-hover">
            <thead>
                <tr>
                    <th class="sortable" (click)="sort('name')"> {{ "researchmentStructure.name" | translate }}
                        <em class="float-right" [ngClass]="getSortIcon('name')"></em>
                    </th>
                    <th class="sortable" (click)="sort('type')"> {{ "researchmentStructure.type" | translate }}
                        <em class="float-right" [ngClass]="getSortIcon('type')"></em>
                    </th>
                    <th class="sortable" (click)="sort('publications')">
                        {{ "researchmentStructure.publications" | translate }}
                        <em class="float-right" [ngClass]="getSortIcon('publications')"></em>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of searchResult">
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.publications }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [resultObject]="resultObject" (pageChanged)="showPage($event)" (sizeChanged)="changeSize($event)">
    </app-pagination>
</fieldset>